* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poopins', sans-serif;
}

body {
    background-color: rgb(234, 248, 234);
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img{
    width: 50px;
    height: 50px;
}

.logo h1{
    color: #111;
    font-size: 2rem;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 90px;
}
nav ul li a {
    text-decoration: none;
    color: #111;
    font-weight: 500;
    transition: color 0.3 ease;
}

nav li {
    font-size: 30px;
}

nav ul li a:hover,
nav ul li a.Feature{
    color: rgb(63, 255, 133);
}

.SignIn {
    border: 1.5px solid rgb(63, 255, 133);
    padding: 6px 14px;
    border-radius: 20px;
    color: rgb(63, 255, 133);
    transition: all 0.3s ease;
}

.SignIn:hover {
    background: rgb(63, 255, 133);
    color: #fff;
}
.Alahakbar {
    text-align: center;
    padding: 80px 20px;
}

.Alahakbar h2 {
    color: rgb(63, 255, 133);
    font-size: 2.2rem;
    margin-bottom: 10px;
}

.Alahakbar p {
    color: grey;
    font-size: 1rem;
    margin-bottom: 50px;
    
}

.building1-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}
.building2-box{
    width: 280px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    background: #fff;
    transition: transform 0.3s ease;
    height: 42vh;
}

.building2-box:hover {
    transform: translateY(-8px);
}

.building2-box img {
    width: 60px;
    margin-bottom: 20px;
    background: #3fff85;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    gap: 20px;
}

.building2-box h3 {
    color: #111;
    margin-bottom: 10px;
}

.building2-box p {
    color: #777;
    font-size: 0.95rem;
}

footer {
    text-align: center;
    background: #f9f9f9;
    padding: 20px;
    color: #777;
    font-size: 1rem;
}

