* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poopins', sans-serif;
}

body {
    background-color: rgb(234, 248, 234);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img{
    width: 50px;
    height: 50px;
}

.logo h1{
    color: #111;
    font-size: 2rem;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 90px;
}
nav ul li a {
    text-decoration: none;
    color: #111;
    font-weight: 500;
    transition: color 0.3 ease;
}

nav li {
    font-size: 30px;
}

nav ul li a:hover,
nav ul li a.About{
    color: rgb(63, 255, 133);
}

.SignIn {
    border: 1.5px solid #3fff85;
    padding: 6px 14px;
    border-radius: 20px;
    color: rgb(63, 255, 133);
    transition: all 0.3s ease;
}

.SignIn:hover {
    background: rgb(63, 255, 133);
    color: #fff;
}

.Brada{
    text-align: center;
    padding: 100px 20px 60px;
    
}

.Brada h2 {
    font-size: 2.5rem;
    color: black;
}

.Brada h2 span {
    color: rgb(63, 255, 133);
}
.Brada p{
    font-size: 20px;
    padding-top: 20px;
    padding-left: 220px;
    padding-right:220px;
    color: grey;
}

.checkers{
    height: 44vh;
    padding-left: 250px;
}

.checkers ul {
    list-style: none;
    padding: 0;
}

.checkers li {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-size: 18px;
}

.check-icon {
    background-color: #4eff95;
    color: black;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    margin-right: 12px;
    font-size: 18px;
  }

footer {
    text-align: center;
    background: #f9f9f9;
    padding: 20px;
    color: #777;
    font-size: 1rem;
}